@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.animate-hue {
  animation: hueRotate 20s linear infinite;
}

.root-modal {
  background-color: transparent;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px 20px;
}
